/* Add these styles to your existing CSS */

.all-product-table-container {
  overflow-y: auto;
  max-height: 500px;
  --color-primary: #191d2b;
}

.loading-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.button-container {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-table-container {
  margin-top: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}

.product-image {
  max-width: 2000px; /* Increase the width */
  max-height: 2000px; /* Increase the height */
  display: block;
  margin: 0 auto;
}

/* Minimize the other rows' width and height */
.table-row {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  max-width: 2000px; /* Adjust the width */
  max-height: 2000px; /* Adjust the height */
}

.table-row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.table-row .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent initially */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.hoverable-cell:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Make it opaque on hover */
  opacity: 1;
}

.table-row .overlay h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.table-row .overlay .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row .overlay .icons .icon {
  background-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.table-row .overlay .icons .icon i {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}

/* Add new styles for the hoverable-cell */
.hoverable-cell {
  position: relative;
}

.hoverable-cell:hover .icons .icon {
  background-color: #fff;
}

.hoverable-cell:hover .icons .icon i {
  color: #000;
}
