/* Base Styles */
.track-container {
  padding: 20px;
  background-color: #f7f7f7;
}

.track-row {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.track-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.track-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements horizontally */
}

.track-label {
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  text-align: center;
}

.track-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 50%; /* Set the width to 50% */
  margin: 0 auto; /* Center the input */
}

.track-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 10%; /* Set the width to 10% */
  margin: 1%; /* Add a small margin to center the button */
}

.track-button:hover {
  background-color: gray;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .track-input {
      width: 80%; /* Adjust the width for smaller screens */
  }

  .track-button {
      width: 80%; /* Adjust the width for smaller screens */
  }
}
